@import "./util/variables.css";
@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Oswald:wght@400;600&display=swap");

body {
  background-color: var(--main-black);
  color: white;
}

.page {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.page > header {
  font-family: var(--title-font);
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10rem;
  background-color: var(--main-yellow);
  color: var(--main-black);
  align-items: center;
  padding: 10rem 0;
}
.page > header > h1 {
  font-size: 5rem;
  padding: 1rem 0;
  font-weight: 600;
}
.user-name {
  background-color: var(--main-black);
  color: var(--main-white);
  font-size: 4rem;
  padding: 0 1rem;
}
.page > header > h2 {
  text-align: center;
  font-size: 2.5rem;
  padding: 5rem 2rem;
  color: var(--secondary-black);
  font-weight: 400;
  font-family: var(--base-font);
}

.page > main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 0;
}

.page > main > .form-container {
  padding-top: 5rem;
  width: 50%;
  background-color: blueviolet;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page > main > .page-divisor {
  width: 0.3rem;
  height: 60rem;
  background-color: var(--main-white);
}
.page > main > .list-container {
  display: flex;
  height: 65rem;
  width: 50%;
  flex-direction: column;
  align-items: center;
}
.page > main > .form-container > h1 {
  font-family: var(--title-font);
  font-size: 4rem;
}
.page > main > .form-container > h2 {
  font-family: var(--base-font);
  font-size: 1.5rem;
  padding-top: 1rem;
  text-align: center;
}

.page > main > .form-container > form {
  border-radius: 1.5rem;
  font-family: var(--base-font);
  font-size: 1.5rem;
  background-color: var(--secondary-black);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 4rem;
  font-size: 2rem;
  justify-content: center;
  padding: 4rem 8rem;
  width: 40%;
}
.page > main > .form-container > form > button {
  margin-top: 1rem;
  border-radius: 0.5rem;
  align-self: center;
  padding: 1rem;
}
.page > main > .form-container > form > input {
  font-family: var(--base-font);
  border-radius: 0.5rem;
  text-decoration: none;
  outline: none;
  margin: 1.5rem 0;
  width: 100%;
  padding: 1rem;
}
.page > main > .list-container > h1 {
  font-family: var(--title-font);
  font-size: 4rem;
}
.page > main > .list-container > ul {
  margin-top: 4rem;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  width: 50%;
  padding: 0 2rem;
}

.page > main > .list-container > ul > li {
  margin: 2rem 0;
  font-family: var(--base-font);
  padding: 0.5rem 0;
  background-color: var(--secondary-black);
  border-radius: 1.5rem;
  padding: 1.5rem 6rem;
  font-size: 1.5rem;
}
.page > main > .list-container > ul > li > h1 {
  font-size: 2rem;
  padding: 1rem 0;
}

.page > main > .list-container > ul > li > h2 {
  font-size: 1.7rem;
  padding-top: 2rem;
}

.page > main > .list-container > ul > li > .score-list {
  display: flex;
  flex-direction: column;
}
.page > main > .list-container > ul > li > .score-list > li {
  display: flex;
  padding: 0.5rem 0;
}
.page > main > .list-container > ul > li > .score-list > li > span {
  padding-left: 1rem;
}
.page > footer {
  background-color: var(--main-yellow);
  width: 100%;
}
/* modal-related */
.modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-black);
  z-index: 1000;
}
.show {
  display: flex;
}
.hidden {
  display: none;
}
.modal > header,
.modal > footer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal h1 {
  font-size: 3rem;
}
